.signal__head {
  font-weight: bold;
  text-align: center;
  color: var(--primary-color);
}

.signal__box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 20%;
  margin: 0 40%;
  border-radius: 10px;
  padding: 1rem;
  transition: var(--transition);
}

.signal__pair {
  height: 100%;
  padding: 1rem 0;
  background-color: var(--color-white);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid var(--buy-color);
}

.signal__action {
  padding: 1rem 0;
  background-color: var(--color-white);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-weight: bold;
  background-color: var(--buy-color);
  color: var(--color-white);
}

.signal a {
  color: var(--primary-color);
  text-decoration: underline;
}

/* ================ MEDIA QUERIES (MEDIUM DEVICES) ================= */
@media screen and (max-width: 1024px) {
  .signal__box {
    width: 30%;
    margin: 0 35%;
  }
}

/* ================ MEDIA QUERIES (SMALL DEVICES) ================= */
@media screen and (max-width: 600px) {
  .signal__box {
    width: 55%;
    margin: 0 22.5%;
  }
}

/* ================ MEDIA QUERIES (EXTRA SMALL DEVICES) ================= */
@media only screen and (max-width: 380px) {
  .signal__box {
    width: 85%;
    margin: 0 7.5%;
  }
}
