.about {
  margin: 15vh 0 15vh;
  text-align: center;
}

.about__image {
  width: 100%;
  padding: 3% 0;
  display: grid;
  place-items: center;
}

.about__image img {
  width: 40%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  filter: brightness(1.3) saturate(1.5);
  border: 1rem solid var(--primary-color-dark);
  transition: var(--transition);
}

.about__header {
  font-size: 1.5rem;
  color: var(--primary-color);
}

.about__div {
  width: 60%;
  margin: 5% 20%;
  padding: 1rem 2rem;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.16);
  transition: var(--transition);
}

.about__content {
  text-align: justify;
  padding: 1rem 3rem;
  line-height: 2rem;
  opacity: 0.8;
  transition: var(--transition);
}

/* ================ MEDIA QUERIES (MEDIUM DEVICES) ================= */
@media screen and (max-width: 1024px) {
  .about__content {
    padding: 1rem 0rem;
  }

  .about__image img {
    border-width: 0.5rem;
  }

  .about__div {
    width: 90%;
    margin: 10% 5%;
  }
}
