.history {
  margin: 10% 0 30%;
  text-align: center;
}

.history__header h2 {
  padding-left: 1%;
}

.history__header h4 {
  margin-bottom: 5%;
}

.history__header {
  margin: 0 10%;
  width: 80%;
  text-align: left;
}

.history__results {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.history__results img {
  width: 50%;
  aspect-ratio: 1/2;
  padding-bottom: 5%;
}

.history__results div {
  margin: auto;
}

.history__body {
}

/* ================ MEDIA QUERIES (MEDIUM DEVICES) ================= */
@media screen and (max-width: 1024px) {
  .history {
    margin-top: 15%;
  }

  .history__results {
    grid-template-columns: 1fr;
    row-gap: 5%;
  }

  .history__header h2 {
    padding-left: 2%;
  }
}

/* ================ MEDIA QUERIES (SMALL DEVICES) ================= */
@media screen and (max-width: 600px) {
  .history {
    margin-top: 20%;
  }

  .history__header h2 {
    padding-left: 3%;
  }
}
