header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 2rem 5rem;
}

h1 {
  position: relative;
  top: 6rem;
  color: var(--color-white);
}

h4 {
  font-size: 0.9rem;
  padding: 0 15rem;
}

h5 {
  font-weight: lighter;
  position: relative;
  top: 5rem;
  color: var(--color-white);
}

img {
  margin: -6rem auto 1rem;
  border-radius: 1rem;
  box-shadow: 1rem 0rem 0.8rem rgba(0, 0, 0, 0.3), 0 1rem 0.8rem rgba(0, 0, 0, 0.3),
    0 -1rem 0.8rem rgba(0, 0, 0, 0.3), -1rem 0 0.8rem rgba(0, 0, 0, 0.3);
}
