.header {
  text-align: center;
}

section h1 {
  color: var(--color-white);
  font-size: 2rem;
  margin-bottom: 0.8rem;
}

section h4 {
  font-size: 0.9rem;
  margin: 2rem;
}

section h2,
h3 {
  color: var(--primary-color);
  margin: 1rem;
}

section h5 {
  font-weight: lighter;
  color: var(--color-white);
}

.header__image {
  background-image: linear-gradient(10deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../../assets/welcome.jpg);
  background-size: cover;
  text-align: center;
  padding: 20%;
}

.header__container {
  width: 50%;
  height: 90vh;
  margin-bottom: 2rem;
}

.header__results {
  text-align: center;
  border: 1px dashed black;
  /* padding: 10%; */
}

.header__result {
  width: 50%;
  height: 100%;
  border: 1px dashed red;
  margin: 5% auto;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  background: var(--primary-color);
  transition: var(--transition);
}
