footer {
  text-align: center;
  margin: auto;
  padding: 0.7rem;
  background: var(--primary-color-darker);
}

footer h2 {
  color: var(--color-white);
  padding: 0.5rem;
  text-align: center;
}

.footer__icon {
  display: flex;
  font-size: 2rem;
}

.footer__socials {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 7rem;
  margin-bottom: 1rem;
  transition: var(--transition);
}

.footer__socials a {
  display: flex;
  padding: 0.8rem;
  color: var(--color-white);
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.footer__socials a:hover {
  background: var(--color-white);
  color: var(--primary-color-darker);
  border: 1px solid var(--color-white);
}

.footer__copyright {
  margin-bottom: 2rem;
  color: var(--color-white);
}

/* ================ MEDIA QUERIES (SMALL DEVICES) ================= */
@media screen and (max-width: 600px) {
  .footer__socials {
    gap: 2.5rem;
  }
}
