@font-face {
  font-family: Poppins;
  src: url(./assets/fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: Poppins;
  font-weight: bold;
  src: url(./assets/fonts/Poppins-SemiBold.ttf);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  cursor: default;
}

:root {
  --primary-color: #007aff;
  --primary-color-lighter: #73b6ff;
  --primary-color-light: #1987ff;
  --primary-color-dark: #0062cc;
  --primary-color-darker: #004999;
  --primary-light-shade: #c2d9f2;
  --primary-accent: #00254d;

  --buy-color: #34c240;
  --sell-color: #d64242;
  --color-white: #fff;
  --color-black: #000;

  --transition: all 400ms ease-in;
  --transition2: all 200ms ease-in;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Poppins, sans-serif;
  background: var(--color-white);
  line-height: 1.7;
}

a {
  cursor: pointer;
}
