.faq {
  margin: 15vh 0 15vh;
}

.faq h2 {
  margin: 0 4rem;
  color: var(--primary-color);
}

.faq h3 {
  margin: 1rem;
  color: var(--primary-color);
}

.faq__answered-questions {
  margin: 3% 0 10%;
}

.faq_icon-question {
  color: var(--primary-color);
  margin-right: 0.5rem;
}

.faq__answered-questions article {
  width: 50%;
  margin: 4% 25%;
  padding: 1rem;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.16);
  transition: var(--transition);
}

.answer {
  margin: 0 1rem 2rem;
  width: 95%;
  opacity: 0.75;
  word-spacing: 0.4rem;
  line-height: 1.5rem;
}

/* ================ MEDIA QUERIES (MEDIUM DEVICES) ================= */
@media screen and (max-width: 1024px) {
  .faq__answered-questions article {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
}
